body div {
    transition:all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.seat {
    width: 16.67%;
    height: 32px;
    border: dimgray 1px SOLID;
    display: inline-block;
    margin: 1px;
    background-color:firebrick;
    color: white;
    text-align:center;
    cursor: pointer;
}
.seat-available {
    background-color: yellowgreen;
}
.seat:nth-child(5n-1) {
    margin-left: 10%;
}

.seat-map-container {
    width: 300px;
    text-align:right;
    margin: auto;
}

.booking-form  {
    text-align:center;
    padding: 20px;
    margin: auto;
}
.main-heading {
    text-align:center;
}

.legend, .instructions {
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 5px;
}
.instructions {
    width: 350px;
    font-style: italic;
}